RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

RewriteRule ^staff/login/?$     staff_login.php [QSA,L]
RewriteRule ^staff/reset_pw/?$     staff_reset_pw.php [QSA,L]

<Files ".env">
Require all denied
</Files>
